body{
  font-size: 18px;
}

.update-tag{
  border: solid white;
  background: linear-gradient(to right, green,orange);  
  padding:8px;        
  text-align: center;
  font-size:20px; 
  color:white;    
}

.addDiv{
    border:solid;
    padding:15px 10px;
    margin-bottom: 10px;
    display: grid;
    gap:8px;
}

select, input{
  font-size: 18px;
  min-width: 150px;
  height: 30px;
  margin: 4px 8px;
}

button{
  display: inline-block;
  padding: 7px 18px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: green;
  border: none;
    border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.add-op-type{
    border:solid;
    padding:15px 10px;
    margin-bottom: 10px;
    display: grid;
    gap:8px;
}

.warning-popUp{
    width:100%;
    height: 100%;
    position: fixed;
    top:0px;
    display: none;
    justify-items: center;
    align-items: center;
}
.warning-content{
    background-color: white;
    border: solid;
    height:250px;
    width: 250px;
    display: grid;
    justify-items: center;
    margin-top: -100px;
    font-size:30px;
}
.warning-content button{
    height:50px;
    width:80px;
    color:white;
    font-size:30px;
}

.warning-yes-button{
    background-color: darkred;
}
.warning-no-button{
    background-color: #253D2C;
}









/*body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    background-color: #B5B5B5;
    color:black;
    font-weight: bolder;
}

 button{
    border-radius: 10px;         
    margin: 10px 10px;
    padding: 15px 20px;
    font-size: 45px;
    font-weight: bolder; 
    background-color:#402B42;
    color:white;
    border:none;
    cursor: pointer;         
}

label{
    font-size:45px;
    color: #111184;
    font-weight: bolder;
}

select {
    border: solid; 
    border-radius: 10px;            
    display: inline-block;
    margin: 10px 0;
    padding: 8px;
    cursor: pointer;
    width:320px;   
    height: 70px;      
    font-size:50px;
    font-weight: bolder;     
}

input {
    display: inline-block;
    margin: 10px 0;
    padding: 8px;
    cursor: pointer;   
    width:320px;   
    height: 50px;      
    font-size:50px;
    font-weight: bolder;      
}

.addDiv, 
.add-op-type{
  display:grid;
  gap: 40px;  
  position: relative;
  margin-top: 20px;
  font-size: 50px;
  color: darkred;
  border:solid white 5px;
  border-radius: 10px;
  margin-left:1px;
  padding:5px;
}

.addButton{
    background-color:green;
    color:white;
    border:none;
}
*/