body {
  background-image: url("https://cdn.britannica.com/77/141177-050-EEAC6FF9/Jet-engine.jpg");
  height: 100vh;
  background-size: cover;         /* Makes the image cover the entire element */
  background-repeat: no-repeat;   /* Prevents the image from repeating */
  background-attachment: fixed;    /* Centers the image */
}

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 0;
  }
  .navbar li {
    margin: 0 1.5rem;
    cursor: pointer;
  }
  .navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
  }
  .navbar a:hover {
    color: #007bff;
  }
